section {
    background: url('../imgs/angular.png');
}
div {
    background: url('../imgs/github.png');
}
div {
    background: url('../imgs/react.png');
}
div {
    background: url('../imgs/Vue.png');
}
